body {
	background-color: #C4DBF6;
}

.container-fluid {
	background-color: #B23850;
}

.header {
	width: 100%;
}

#logo {
	width: 300px;
	display: inline-block;
}

.user_button {
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}


#logo img {
	width: 300px;
	height: 100px;
	margin-bottom: 2%;
}

.nav.navbar-nav{
	width: 100%
}

.material-icons.md-36 {
	font-size: 36px;
}

.nav.navbar-nav li {
	padding-left: 5px;
	padding-right: 5px;
	width: 200px;
	text-align: center;
	width: 20%;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #E7E3D4;
}

.active {
	background-color: #E7E3D4;

}











