#login {
	text-align: left;
	padding-left: 30px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 0%;
}

.aboutus {
	margin-right: 5%;
}

.aboutusbox {
	margin-left: 31.5%;
	margin-top: 50px;
	width: 40%;
	background-color: #3B8BEB;
	border-radius: 1em;
	border: 1px solid #000000;
}

p {
	padding-bottom: 0%;
}

#text {
	padding-left: 10%;
	margin-right: 40%;
}

.loginbox {
	margin-left: 37.5%;
	margin-top: 50px;
	width: 25%;
	background-color: #3B8BEB;
	border-radius: 1em;
	border: 1px solid #000000;
}

.inputs {
	background-color: #E7E3D4;
	color: black;
	margin-left: 3%;
	margin-top: 2%;
	width: 150%;
}

#submit {
	background-color: #8590AA;
	width: 150%;
}

a {
	color: black;
}

#errorMsg {
	color: #B23850;
	margin-left: 10%;
}